[submodule "bundle/fugitive"]
	path = bundle/fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = https://git.wincent.com/command-t.git
[submodule "bundle/javascript"]
	path = bundle/javascript
	url = https@github.com:pangloss/vim-javascript.git
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https@github.com:kien/ctrlp.vim.git
[submodule "bundle/rename"]
	path = bundle/rename
	url = https@github.com:danro/rename.vim.git
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = https@github.com:scrooloose/nerdcommenter.git
[submodule "bundle/vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = https://https.com/kchmck/vim-coffee-script
[submodule "bundle/camelcasemotion"]
	path = bundle/camelcasemotion
	url = https://github.com/bkad/CamelCaseMotion.git
